/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.woocommerce-order-received .entry-header{
 	display: none;
}
.wcctp-thank-you-products-display {
 	padding: 10px;
}

/************** TAB CSS **************/
.wcctp-thank-you-social-share-display{
    width: auto;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 10px;
}
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
/************** TAB CSS **************/
textarea.wcctp-share-content {
    width: 95%;
}
.woocommerce-order-received ul.products li{
    width: 100% !important;
}

.wcctp-share-btn{
  display: inline-block;
  border-radius: 4px;
  background-color: #0085ba;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  margin-top: 7px;
  width:70px;
  text-decoration:none!important;
}
.wcctp-share-btn:hover{
    opacity:0.7;
    color:#ffffff;
}
.wcctp-thankyou-four-product-view .woocommerce ul.products li.product, .wcctp-thankyou-four-product-view .woocommerce-page ul.products li.product{
  width:22.05%!important;
}